@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&family=Sarabun:wght@400;700&display=swap');

@import './base.css';

body {
  background: #c4c8eb;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#app {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;

  width: 300px;

  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 28px;
  line-height: 33px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 14px;
}

p {
  font-family: 'Sarabun', sans-serif;
}
