@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&family=Sarabun:wght@400;700&display=swap');

@import './base.css';

body {
  background: #dfbbf1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans Thai', sans-serif;
}

p {
  font-family: 'Sarabun', sans-serif;
}
